Repository rknightion/meraki-dashboard-ha: changes, and which pre-commit hooks are due for each by the changed paths.
All: hassfest, check-translations

Path conditions:
  hassfest: any of: ^(custom_components/|requirements\.txt|manifest\.json) and ^(custom_components|tests|script)/ and not ((?x)^(
  \.git/|
  \.venv/|
  venv/|
  \.vscode/|
  \.devcontainer/|
  __pycache__/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.tox/|
  build/|
  dist/|
  .*\.egg-info/
)
)
  check-translations: any of: ^(custom_components/.+/strings\.json|custom_components/.+/translations/.+\.json)$ and ^(custom_components|tests|script)/ and not ((?x)^(
  \.git/|
  \.venv/|
  venv/|
  \.vscode/|
  \.devcontainer/|
  __pycache__/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.tox/|
  build/|
  dist/|
  .*\.egg-info/
)
)

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

Delete .github/workflows/pages.yml
  .github/workflows/pages.yml
Due: none

fix docs
  .github/workflows/jekyll-gh-pages.yml
  docs/404.md
  docs/Gemfile
  docs/_config.yml
  docs/_devices/mt20.md
  docs/api-reference.md
  docs/changelog.md
  docs/configuration.md
  docs/development.md
  docs/faq.md
  docs/index.md
  docs/installation.md
  docs/troubleshooting.md
  docs/usage.md
Due: none

add images
  docs/images/dark_logo.png
  docs/images/dark_logo@2x.png
  docs/images/icon.png
  docs/images/icon@2x.png
  docs/images/logo.png
  docs/images/logo@2x.png
  docs/index.md
Due: none

Add
  README.md
  docs/index.md
Due: none

Improves logging and event handling for Meraki integration
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/binary_sensor.py
  custom_components/meraki_dashboard/button.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/coordinator.py
  custom_components/meraki_dashboard/events.py
  custom_components/meraki_dashboard/sensor.py
  docs/logging-configuration.md
  docs/troubleshooting.md
  docs/usage.md
Due: hassfest

Adopts a multi-hub architecture for Meraki integration
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/binary_sensor.py
  custom_components/meraki_dashboard/button.py
  custom_components/meraki_dashboard/config_flow.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/sensor.py
  docs/_devices/mt20.md
  docs/api-reference.md
  docs/changelog.md
  docs/configuration.md
  docs/faq.md
  docs/index.md
  docs/troubleshooting.md
  docs/usage.md
Due: hassfest

Refactors code for clarity and consistency in formatting
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/binary_sensor.py
  custom_components/meraki_dashboard/button.py
  custom_components/meraki_dashboard/config_flow.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/sensor.py
Due: hassfest

Encapsulates API client initialization logic
  custom_components/meraki_dashboard/__init__.py
Due: hassfest

Enhances release configuration and device counting
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  custom_components/meraki_dashboard/config_flow.py
  custom_components/meraki_dashboard/sensor.py
Due: hassfest

dummy commit
  Makefile
Due: none

feat: add GitHub Actions workflows for CI/CD and management
  .github/issue-labeler.yml
  .github/labeler.yml
  .github/workflows/dependabot-prs.yml
  .github/workflows/greetings.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-please.yml
Due: none

chore: enable version tagging with 'v' prefix
  .github/workflows/release-please.yml
  .release-please-manifest.json
Due: none

chore: update permissions for GitHub Actions
  .github/workflows/release-please.yml
Due: none

feat: add configurable API base URL and improve logging
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/config_flow.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

feat: enhance logging and discovery configurations
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/config_flow.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

refactor: enhance hub option processing and precision settings
  custom_components/meraki_dashboard/config_flow.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/icons.json
  custom_components/meraki_dashboard/sensor.py
Due: hassfest

feat: add diagnostics and repair flows for Meraki Dashboard integration
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/config_flow.py
  custom_components/meraki_dashboard/diagnostics.py
  custom_components/meraki_dashboard/repairs.py
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

feat: add automatic energy sensors for MT devices
  CHANGELOG.md
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/icons.json
  custom_components/meraki_dashboard/sensor.py
  docs/api-reference.md
  docs/usage.md
Due: hassfest

feat: add historical data handling and coordinator enhancements
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/coordinator.py
  custom_components/meraki_dashboard/manifest.json
  custom_components/meraki_dashboard/strings.json
  docs/usage.md
Due: hassfest, check-translations

feat: historical data collection
  PYTHON_STYLE_GUIDE.md
Due: none

feat: enhance error logging and improve statistic handling
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/coordinator.py
  custom_components/meraki_dashboard/manifest.json
Due: hassfest

feat: add fixable attribute to error messages
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

feat: remove redundant 'fixable' attribute from strings
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

feat : correct dictionary key access and simplify messages
  custom_components/meraki_dashboard/coordinator.py
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

fix: update formatting of strings in JSON
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

fix: correct dictionary key access for data sorting
  custom_components/meraki_dashboard/coordinator.py
Due: hassfest

refactor: simplify statistics metadata handling
  custom_components/meraki_dashboard/coordinator.py
Due: hassfest

fix: release
  CHANGELOG.md
Due: none

fix: remove await from async_add_external_statistics call
  custom_components/meraki_dashboard/coordinator.py
Due: hassfest

feat: enhance sensor update with live and historical data
  custom_components/meraki_dashboard/coordinator.py
Due: hassfest

feat: remove duplicate statistics and adjust power factor representation
  CHANGELOG.md
  custom_components/meraki_dashboard/__init__.py
  custom_components/meraki_dashboard/const.py
  custom_components/meraki_dashboard/coordinator.py
  custom_components/meraki_dashboard/repairs.py
  custom_components/meraki_dashboard/sensor.py
  custom_components/meraki_dashboard/strings.json
  docs/troubleshooting.md
  docs/usage.md
Due: hassfest, check-translations

fix: enhance duplicate statistics cleanup description
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

feat(workflow): enable auto-merge for release PRs
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

fix: improve auto-merge command for release PRs
  .github/workflows/release-please.yml
Due: none

fix: add checkout step to enable auto-merge
  .github/workflows/release-please.yml
Due: none

fix: address duplicate statistics in Meraki integration
  custom_components/meraki_dashboard/coordinator.py
  custom_components/meraki_dashboard/repairs.py
  custom_components/meraki_dashboard/strings.json
Due: hassfest, check-translations

fix: remove duplicate statistics check and repair flow
  custom_components/meraki_dashboard/coordinator.py
  custom_components/meraki_dashboard/repairs.py
  custom_components/meraki_dashboard/strings.json
  docs/troubleshooting.md
  hacs.json
Due: hassfest, check-translations

fix(sensor): update TVOC unit to micrograms per cubic meter
  custom_components/meraki_dashboard/sensor.py
  docs/api-reference.md
  docs/usage.md
Due: hassfest

chore: enhance development environment support
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  Makefile
  README.md
  docs/development.md
  poetry.lock
  pyproject.toml
Due: none
